* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #c94a21;
  --gray: #cacaca;
  --orange-secondary: #f5d499;
  font-family: 'Ubuntu', Helvetica;
  padding: 0;
}

html {
  width: 100%;
}

body {
  margin: 0;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.main-btn {
  background-color: var(--orange);
  width: 100%;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.secondary-btn {
  background-color: var(--orange-secondary);
  width: 100%;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.back-btn-container {
  width: 100px;
}

input,
input:focus {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: var(--gray);
}

.input-container {
  width: 100%;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: var(--orange);
}

.container {
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  background-color: var(--orange);
  color: var(--orange-secondary);
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2rem;
  align-items: center;
  font-size: 40px;
  width: 100%;
  height: 180px;
}

nav .title {
  display: flex;
  align-items: center;
  margin: 0;
}

nav .back-btn-container {
  margin-right: 2rem;
}

nav .title h3 {
  line-height: 0.5rem;
}

nav .nav-controls {
  display: flex;
  width: 40%;
  flex-direction: row;
  padding-right: 5rem;
  justify-content: space-around;
  margin-left: auto;
}

nav .nav-controls .secondary-btn {
  width: fit-content;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: 266px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.responsive-column {
  width: calc(100% / 3);
}

@media (max-width: 800px) {
  .container {
    width: 80%;
  }

  .logo {
    width: 60%;
    height: auto;
  }

  .responsive-column {
    width: 100%;
  }

  nav .nav-controls {
    width: 100%;
    padding-right: 0;
    justify-content: space-evenly;
  }

  nav .title h3 {
    line-height: 1;
    margin-left: auto;
  }
}
