.criar-plataforma {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.criar-plataforma .overlap-wrapper {
  width: 1920px;
  height: 1080px;
}

.criar-plataforma .overlap {
  position: relative;
  height: 1080px;
  border-radius: 14.52px;
}

.criar-plataforma .cadastro {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 14.52px;
  box-shadow: 0px 0px 10.37px #2222224c;
}

.criar-plataforma .overlap-group {
  position: absolute;
  width: 1920px;
  height: 184px;
  top: 0;
  left: 0;
  background-image: url(./img/header-home.svg);
  background-size: 100% 100%;
}

.criar-plataforma .login {
  position: absolute;
  width: 369px;
  height: 48px;
  top: 84px;
  left: 74px;
  font-family: 'Ubuntu', Helvetica;
  font-weight: 500;
  color: #f5d499;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 35.9px;
}

.criar-plataforma .logo {
  position: absolute;
  width: 245px;
  height: 268px;
  top: 405px;
  left: 128px;
}

.criar-plataforma .botao-plataforma {
  position: relative;
  width: 567px;
  height: 80px;
  top: 591px;
  left: 716px;
  background-color: #c94a21;
  border-radius: 7px;
}

.criar-plataforma .text-wrapper {
  font-family: 'Ubuntu', Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 73px; /* Ajuste a linha de acordo com a altura do elemento */
  width: 550px;
}

.criar-plataforma .digitar-nome {
  position: absolute;
  width: 601px;
  height: 84px;
  top: 427px;
  left: 684px;
}

.criar-plataforma .div {
  position: relative;
  width: 599px;
  height: 84px;
}

.criar-plataforma .rectangle {
  position: absolute;
  width: 558px;
  height: 84px;
  top: 0;
  left: 41px;
  background-color: #d9d9d9;
  border-radius: 6px;
}

.criar-plataforma .text-wrapper-2 {
  position: absolute;
  width: 277px;
  height: 61px;
  top: 11px;
  left: 0;
  font-family: 'Ubuntu', Helvetica;
  font-weight: 400;
  color: #827c7c;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 35.9px;
}

#nameInput::placeholder {
  font-size: 30px;
  text-align: justify;
  padding-left: 10px;
}

#nameInput {
  font-size: 30px;
}
