.criar-categoria {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.criar-categoria .overlap-wrapper {
  width: 1920px;
  height: 1080px;
}

.criar-categoria .overlap {
  position: relative;
  height: 1080px;
  border-radius: 14.52px;
}

.criar-categoria .cadastro {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 14.52px;
  box-shadow: 0px 0px 10.37px #2222224c;
}

.criar-categoria .overlap-group {
  position: absolute;
  width: 1920px;
  height: 184px;
  top: 0;
  left: 0;
  background-image: url(./img/header-home.svg);
  background-size: 100% 100%;
}

.criar-categoria .login {
  position: absolute;
  width: 409px;
  height: 45px;
  top: 71px;
  left: 54px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #f5d499;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 18.9px;
}

.criar-categoria .logo {
  position: absolute;
  width: 245px;
  height: 268px;
  top: 405px;
  left: 128px;
}

.criar-categoria .digitar-nome {
  position: absolute;
  width: 284px;
  height: 56px;
  top: 484px;
  left: 676px;
}

.criar-categoria .botao-criar {
  position: absolute;
  width: 592px;
  height: 80px;
  top: 634px;
  left: 664px;
}

.criar-categoria .botao-plataforma {
  position: relative;
  height: 80px;
  background-color: #c94a21;
  border-radius: 7px;
}

.criar-categoria .text-wrapper {
  position: absolute;
  width: 297px;
  height: 73px;
  top: 6px;
  left: 148px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 35.9px;
}

.criar-categoria .titulo {
  position: absolute;
  width: 592px;
  height: 87px;
  top: 467px;
  left: 664px;
}

.criar-categoria .div {
  position: relative;
  height: 87px;
}

.criar-categoria .rectangle {
  position: absolute;
  width: 580px;
  height: 87px;
  top: 0;
  left: 12px;
}

.criar-categoria .div-wrapper {
  position: absolute;
  width: 198px;
  height: 56px;
  top: 16px;
  left: 0;
}

.criar-categoria .text-wrapper-2 {
  position: absolute;
  width: 196px;
  height: 56px;
  top: 0;
  left: 0;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: #827c7c;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}
