.cadastrar-conta {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cadastrar-conta .cadastro-wrapper {
  width: 1920px;
  height: 1080px;
}

.cadastrar-conta .cadastro {
  position: relative;
  height: 1080px;
  background-color: #ffffff;
  border-radius: 14.52px;
  box-shadow: 0px 0px 10.37px #2222224c;
}

.cadastrar-conta .overlap-group {
  position: absolute;
  width: 1920px;
  height: 184px;
  top: 0;
  left: 0;
  background-image: url(./img/header-home.svg);
  background-size: 100% 100%;
}

.cadastrar-conta .login {
  position: absolute;
  width: 409px;
  height: 45px;
  top: 71px;
  left: 54px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #f5d499;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.9px;
}

.cadastrar-conta .confirme-sua-senha {
  position: absolute;
  width: 500px;
  height: 70px;
  top: 594px;
  left: 823px;
  background-color: var(--monobackground);
  border-radius: 4.15px;
}

.cadastrar-conta .frame {
  position: relative;
  width: 315px;
  height: 53px;
  top: 8px;
  left: 92px;
}

.cadastrar-conta .placeholder {
  position: absolute;
  height: 27px;
  top: 9px;
  left: -66px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: var(--monogray);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 26.1px;
  white-space: nowrap;
}

.cadastrar-conta .icons {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 10px;
  left: 362px;
}

.cadastrar-conta .senha {
  position: absolute;
  width: 500px;
  height: 70px;
  top: 480px;
  left: 827px;
  background-color: var(--monobackground);
  border-radius: 4.15px;
}

.cadastrar-conta .div {
  position: relative;
  width: 456px;
  height: 53px;
  top: 8px;
  left: 22px;
}

.cadastrar-conta .text-wrapper {
  height: 27px;
  top: 12px;
  left: 0;
  line-height: 26.1px;
  position: absolute;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: var(--monogray);
  font-size: 24px;
  letter-spacing: 0;
  white-space: nowrap;
}

.cadastrar-conta .img {
  top: 14px;
  left: 430px;
  position: absolute;
  width: 26px;
  height: 26px;
}

.cadastrar-conta .email {
  position: absolute;
  width: 500px;
  height: 70px;
  top: 366px;
  left: 827px;
  background-color: var(--monobackground);
  border-radius: 4.15px;
}

.cadastrar-conta .placeholder-2 {
  height: 17px;
  top: 24px;
  left: 25px;
  line-height: 16.6px;
  position: absolute;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: var(--monogray);
  font-size: 24px;
  letter-spacing: 0;
  white-space: nowrap;
}

.cadastrar-conta .icons-2 {
  top: 22px;
  left: 449px;
  position: absolute;
  width: 26px;
  height: 26px;
}

.cadastrar-conta .button {
  position: absolute;
  width: 508px;
  height: 76px;
  top: 747px;
  left: 827px;
  all: unset;
  box-sizing: border-box;
}

.cadastrar-conta .div-wrapper {
  display: flex;
  width: 496px;
  height: 73.88px;
  align-items: center;
  justify-content: center;
  gap: 210.14px;
  padding: 26.27px 0px;
  position: relative;
  background-color: var(--basicorange);
  border-radius: 6.57px;
}

.cadastrar-conta .text {
  position: relative;
  width: fit-content;
  margin-top: -6.11px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: var(--monolight);
  font-size: 26.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.3px;
  white-space: nowrap;
}

.cadastrar-conta .logo {
  position: absolute;
  width: 245px;
  height: 268px;
  top: 405px;
  left: 128px;
}
