.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.single-game {
  width: 30%;
  height: 500px;
  perspective: 800px;
  margin-bottom: 5rem;
  border-radius: 20px;
}

.card {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  border-radius: 20px;
  transition: transform 1s;
  box-shadow: 0 3px 10px var(--orange-secondary);
}

.single-game:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  height: 80%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.card-back > div {
  width: 400px;
  text-align: center;
}

.card-back p {
  margin-top: 50px;
  text-align: center;
}

.card-front {
  width: 90%;
  padding: 20px;
  height: 80%;
  justify-content: center;
  z-index: 1;
  color: var(--orange-secondary);
}

.image-container {
  width: 300px;
  height: auto;
  margin: 10px;
  display: flex;
}

.card-back {
  height: 400px;
  width: 100%;
  color: var(--orange-secondary);
  background-color: var(--background);
  transform: rotateY(180deg);
  z-index: 2;
}


@media screen and (max-width: 900px) {
  .single-game {
    width: 100%;
  }
}

.single-game img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.card-back button {
  background-color: var(--orange-secondary);
  color: black;
  margin-top: 20px;
  width: 50%;
}

#platformTitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: var(--orange-secondary);
}

#platformTitle div {
  width: 100%;
}

#platformTitle img {
  height: 100px;
  filter: brightness(10);
  
}

.grade {
  margin-bottom: auto;
}
